img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

#canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 512px;
    height: 512px;
}


#main-canvas {
    background-color: lightgray;
}

#upload-area {
    position: fixed;
    width: 150px;
    height: 150px;
    outline: 0;    
}

#upload-area > img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    opacity: 10%;
    transition: 0.2s;
}

#upload-area > img:hover {
    opacity: 100%;
}

#utility-container {
    height: 50px;
    width: 512px;
    background-color: darkgray;
    display: flex;
    flex-direction: row;
}


.canvas-btn {
    width: 50px;
    height: 50px;
    background-color: gray;
    border: none;
    outline: 0;
}

/* .canvas-button > img {
    width: 30px;
    height: 30px;
} */