/* Properties */

:root {
    --propbtn-normal: gray;
    --propbtn-hover: gainsboro;
}

#properties-container > div {
    background-color: silver;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 1;
}

.property-icon {
    width: 35px;
    height: 35px;
}

.property-button {
    background-color: var(--propbtn-normal);
    width: 50px;
    height: 50px;
    border: 0;
    outline: 0;
}

/* .property-button:hover {
    background-color: var(--propbtn-hover);
} */

/* --- */

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#canvas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);        
}

#utility-container {
    
}

#dropzone-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-canvas {
    background-color: lightgray; 
}

.upload-area {
    position: absolute;
    width: 50px;
    height: 50px;
    outline: 0;    
}

.upload-icon{
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    opacity: 0.1;
}

.upload-icon:hover {
    opacity: 1.0;
}

#utility-container {
    height: 50px;
    width: 512px;
    background-color: darkgray;
    display: flex;
    flex-direction: row;
}


.canvas-btn {
    width: 50px;
    height: 50px;
    background-color: gray;
    border: none;
    outline: 0;
}

#social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;                  
}

/* .canvas-button > img {
    width: 30px;
    height: 30px;
} */
#template {
    position: relative;
    margin-left: 55px;
}